// CUSTOM ICONS
@font-face {
  font-family: 'reviews';
  src: url('/wp-content/mu-plugins/brightfire-reviews/assets/font/reviews.eot?88362855');
  src: url('/wp-content/mu-plugins/brightfire-reviews/assets/font/reviews.eot?88362855#iefix') format('embedded-opentype'),
  url('/wp-content/mu-plugins/brightfire-reviews/assets/font/reviews.woff?88362855') format('woff'),
  url('/wp-content/mu-plugins/brightfire-reviews/assets/font/reviews.ttf?88362855') format('truetype'),
  url('/wp-content/mu-plugins/brightfire-reviews/assets/font/reviews.svg?88362855#reviews') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa-citysearch:before { content: '\e800'; font-family: 'reviews'; } /* '' */
.fa-insider-pages:before { content: '\e801'; font-family: 'reviews'; } /* '' */
.fa-yellow-pages:before { content: '\e802'; font-family: 'reviews'; } /* '' */
.fa-bbb:before { content: '\e803';   font-family: 'reviews'; } /* '' */


@mixin social-icon-colors( $class, $color ) {
  a {
    .fa-square, .fa-circle, .logo {
      &#{$class} {
        color: $color;
      }
    }

    &:hover {
      .fa-square, .fa-circle, .logo {
        &#{$class} {
          color: lighten($color, 10%);
        }
      }
    }
  }
}

.link-color-brands {

  line-height: 1;
  @include social-icon-colors( '.facebook', $facebook );
  @include social-icon-colors( '.twitter', $twitter );
  @include social-icon-colors( '.linkedin', $linkedin );
  @include social-icon-colors( '.pinterest', $pinterest );
  @include social-icon-colors( '.youtube', $youtube );
  @include social-icon-colors( '.instagram', $instagram );
  @include social-icon-colors( '.foursquare', $foursquare );
  @include social-icon-colors( '.google-plus', $google );
  @include social-icon-colors( '.yelp', $yelp );
  @include social-icon-colors( '.rss', $rss );
  @include social-icon-colors( '.yahoo_local', $yahoo_local );
  @include social-icon-colors( '.citysearch', $citysearch );
  @include social-icon-colors( '.yellow_pages', $yellow_pages );
  @include social-icon-colors( '.bbb', $bbb );

}