// Default
#{$stellar-button-inputs} {
  background-color: $accent-color;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding: $half-spacing $base-spacing;
  margin-bottom: 0; // For input.btn
  text-align: center;
  border-radius: $button-border-radius;
  cursor: pointer;
  transition: all $base-duration $base-timing;
  border: 0 none transparent;
  font-style: normal;
  white-space: normal;

  &:hover {
    background-color: darken($accent-color, 5%);
  }
}

// Inline classes
a.btn {

  @each $name, $color in $stellar-colors {

    &.btn-#{$name} {
      background-color: $color;
      @if $name == gray or $name == light {
        color: $accent-color;
      } @else {
        color: #fff;
      }

      &:hover {
        background-color: darken($color, 5%);
      }

      &.btn-transparent {
        background-color: transparent;
        color: $color;
        box-shadow: inset 0 0 0 3px $color;
        &:hover {
          background-color: rgba($color, 0.25);
        }
      }
    }

    &.btn-text-#{$name} {
      color: $color !important;
    }
  }

  &.btn-mini {
    padding: 0 $half-spacing;
  }

  &.btn-large {
    padding: $base-spacing $base-spacing-2;
  }

  .&.btn-block {
    display: block;
    width: 100%;
    padding-left: $half-spacing;
    padding-right: $half-spacing;
  }
}