fieldset {
  background-color: rgba(0,0,0,0.05);
  border: $base-border;
  margin: 0 0 $half-spacing;
  padding: $base-spacing;
}

input,
label,
select {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  text-align: left;
}

label {
  line-height: 1;
  font-weight: 700;
  margin-bottom: $half-spacing / 2;
  margin-top: $half-spacing / 2;

  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

#{$all-text-inputs},
select[multiple=multiple] {
  background-color: $base-background-color;
  border: $base-border;
  border-radius: $form-border-radius;
  box-shadow: $form-box-shadow;
  box-sizing: border-box;
  margin-bottom: $base-spacing;
  padding: $half-spacing - 1;
  transition: border-color $base-duration $base-timing;
  width: 100%;

  &:hover {
    border-color: shade($base-border-color, 20%);
  }

  &:focus {
    border-color: $accent-color;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }

  &:disabled {
    background-color: shade($base-background-color, 5%);
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $half-spacing / 2;

  + label {
    display: inline-block;
  }
}

input[type="file"] {
  margin-bottom: $half-spacing;
  width: 100%;
}

// Gravity Forms //
.gform_wrapper {

  .gform_validation_container {
    display: none !important; // Needs !important to play nicely with listcol classes
  }

  .validation_error {
    background: #fff;
    border: $base-border;
    border-top: 2px solid #bf1111;
    color: #bf1111;
    padding: $half-spacing $base-spacing;
    margin-bottom: $base-spacing;
  }

  .gfield_error {

    .ginput_container input, .ginput_container_select {
      border: 1px solid #bf1111;
      border-top: 2px solid #bf1111;
    }

    label {
      color: #bf1111;
    }
  }

  .validation_message {
    display: none;
  }


  // Select Field Styling
  .gform_fields{
    padding: 0;
    list-style-type: none !important;

    ul { // All child UL elements should not have bullets 
      padding: 0;
      list-style-type: none !important;
    }

    > li {

      .ginput_preview {
        font-size: modular-scale(-1, $base-font-size, $font-ratio);
        white-space: pre;
        padding: $half-spacing / 2;
        background: $light-gray;
        margin-bottom: $half-spacing / 2;
        overflow: hidden;
        position: relative;

        &:first-of-type {
          margin-top: -( $base-spacing - ( $half-spacing / 2 ) );
        }

        &:last-of-type {
          margin-bottom: $base-spacing;
        }

        img {
          margin-top: 2px;
        }

        a {
          position: absolute;
          top: 0;
          right: 0;
          background: shade( $light-gray, 20% );
          color: #000;
          padding: $half-spacing / 2;
          border-left: 4px solid $light-gray;
        }
      }

      > .ginput_container_fileupload {
        border: 1px dashed shade($base-border-color, 20%);
        background-color: $base-background-color;
        border-radius: $form-border-radius;
        box-sizing: border-box;
        transition: border-color $base-duration $base-timing;
        width: 100%;
        padding: 0;
        margin-bottom: $base-spacing;

        .gform_drop_area {
          padding: $half-spacing - 2;
        }

        input[type="file"] {
          margin-bottom: 0;
          padding: $half-spacing - 2;
        }

        input[type="button"] {
          display: inline-block;
          margin: 0 0 0 ( $half-spacing / 2 );
        }
      }

      > .ginput_container_select {
        background-color: $base-background-color;
        border: $base-border;
        border-radius: $form-border-radius;
        box-shadow: $form-box-shadow;
        box-sizing: border-box;
        padding: $half-spacing - 2;
        transition: border-color $base-duration $base-timing;
        width: 100%;
        margin-bottom: $base-spacing;

        &:hover {
          border-color: shade($base-border-color, 20%);
        }

        > select {
          background: transparent;
          border: none;
          margin-bottom: 0;
          max-width: 100%;
          width: 100%;
        }
      }

      > .gfield_description {
        font-size: modular-scale(-1, $base-font-size, $font-ratio);
        margin-bottom: $base-spacing;
        margin-top: -($base-spacing / 2);
        font-style: italic;
      }

      > .ginput_complex {
        margin-bottom: $base-spacing;

        input {
          margin-bottom: 0;
        }

        span.address_state {
          @extend .ginput_container_select;
          margin-bottom: $base-spacing-2;
          display: block;
          position: relative;

          label {
            position: absolute;
            bottom: -$base-spacing;
            left: 0;
            margin: 0;
          }
        }

        span {
          &:last-of-type {
            margin-bottom: 0;
          }
        }

        label {
          font-size: modular-scale(-1, $base-font-size, $font-ratio);
          font-weight: normal;
          display: block;
          //border-top: $base-border;
          //padding-top: $half-spacing;
          margin-top: $half-spacing;
          margin-bottom: $base-spacing; // 0
        }
      }
    }
  }
}

.gform_confirmation_wrapper {
  background: #ffffff;
  padding: $half-spacing;
  border-radius: $base-border-radius;
  border: $base-border;
}

.brightfire-form-widget {

  // Hide Placeholders
  &.hide_placeholders {

    li.gfield {

      input {

        &:-moz-placeholder {
          opacity: 0;
        }

        &:-ms-input-placeholder {
          opacity: 0;
        }

        &::-webkit-input-placeholder {
          opacity: 0;
        }
      }
    }
  }

  // Hide Labels
  &.hide_labels {

    li.gfield {

      label {
        display: none;
      }
    }

    .gform_wrapper {
      .gform_fields {
        > li {
          > .ginput_complex {
            margin-bottom: 0;

            input {
              margin-bottom: $base-spacing;
            }

            span.address_state {
              margin-bottom: $base-spacing;
            }
          }
        }
      }
    }
  }


  // Left Labels
  &.left_labels {

    li.gfield {

      > label {
        margin: (($base-spacing / 2) + 1) 0;
        @include grid-widths($grid-columns * .25, block);

      }

      > .ginput_container, .ginput_container_select {
        @include grid-widths($grid-columns * .75, block);
        @include omega();
      }
    }
  }

  // Inline Buttons
  &.inline-button {
    &.top_labels {
      .gform_footer {
        &:before { // Match height for labels (when on top)
          content: '\00a0'; // &nbsp;
          margin-bottom: $half-spacing / 2;
          display: block;
        }
      }
    }

    ul {
      > li {

        &:last-child {
          margin-right: flex-gutter($grid-columns);
        }
      }
    }
  }

  &:not(.inline-button) {
    .gform_footer {
      clear: both;
    }
  }

  // Form columns
  $form_columns: (
          2: .5,
          3: .3333333,
          4: .25,
          5: .2
  );

  @each $cols, $fractional in $form_columns {

    &.list_col#{$cols} {

      &.inline-button {

        .gform_footer {
          @include grid-widths($grid-columns * $fractional, block);

          @include media($mobile) {
            &:before {
              display: none;
            }
            @include span-columns($grid-columns, block);
          }
        }
      }
    }
  }
}