
/***************** Stellar Grid *****************/
// For building columns
$one-twelve: 1 2 3 4 5 6 7 8 9 10 11 12;

div.row {
  position: relative;
  z-index: 0;
  padding-left: $base-spacing;
  padding-right: $base-spacing;

  &.force-no-padding {
    padding-left: 0;
    padding-right: 0;
  }

  @include media( $desktop ) {
    &.d-force-no-padding {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @include media( $mobile ) {
    &.m-force-no-padding {
      padding-left: 0;
      padding-right: 0;
    }
  }

  // holds the sidebars
  div.container {

    position: relative;
    @include outer-container;

    // this is the sidebar
    div.column,
    main.column,
    aside.column {

      // builds column sizes
      @each $col in $one-twelve {
        $i: index($one-twelve, $col);
        &.col-#{$i} {
          @include span-columns($i);
          position: relative;
        }
      }

      @include media( $mobile ) {
        @each $col in $one-twelve {
          $i: index($one-twelve, $col);
          &.col-#{$i} {
            @include span-columns( $grid-columns );
            position: relative;
          }
        }
      }
    }
  }

  div.container.window-width {
      max-width: 100%;
  }
}

@include column_gutters();

.full-width {
  @include span-columns( $grid-columns );
}

$grid_class_widths: (
        one-half: .5,
        one-third: .3333333,
        one-fourth: .25,
        one-fifth: .2,
        two-thirds: .6666667,
        two-fifths: .4,
        three-fourths: .75,
        three-fifths: .6,
        four-fifths: .8,
);

// Columns
@each $class, $fractional in $grid_class_widths {

  .#{$class} {
    @include grid-widths($grid-columns * $fractional, block);
  }

  // Row Global class no gutters
  .no-gutters {
    .#{$class} {
      @include grid-widths($grid-columns * $fractional, table);
      @include omega();
    }
  }
}

// Offsets
@each $class, $fractional in $grid_class_widths {

  .offset-#{$class} {
    @include shift($grid-columns * $fractional of $grid-columns);
  }

  // Row Global class no gutters
  .no-gutters {
    .offset-#{$class} {
      margin-left: percentage($fractional);
    }
  }
}

// Mobile
@include media($mobile) {

  // Columns
  @each $class, $fractional in $grid_class_widths {
    .#{$class} {
      @include grid-widths($grid-columns, block);
      @include omega();
    }

    // Row Global class reset
    .no-gutters {
      .#{$class} {
        @include grid-widths($grid-columns, block);
        @include omega();
      }
    }
  }

  // Offsets
  @each $class, $columns in $grid_class_widths {
    .offset-#{$class}{
      @include shift(0);
    }
    // Row Global class reset
    .no-gutters {
      .offset-#{$class} {
        @include shift(0);
      }
    }
  }
}