ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0 0 $base-spacing 0;

  &%default-ul {
    list-style-type: disc;
    margin-bottom: $base-spacing;
    padding-left: $base-spacing;
  }

  &%default-ol {
    list-style-type: decimal;
    margin-bottom: $base-spacing;
    padding-left: $base-spacing;
  }
}

dl {
  margin-bottom: $base-spacing;

  dt {
    font-weight: bold;
    margin-top: $half-spacing;
  }

  dd {
    margin: 0;
  }
}

// List columns
$list_columns: (
        2: .5,
        3: .3333333,
        4: .25,
        5: .2
);

// List Columns
@each $cols, $fractional in $list_columns {

  .list_col#{$cols} {
    ul{
      margin: 0;
      li {
        $columns: $grid-columns * $fractional;
        @include span-columns($columns of $grid-columns, block);
        &:nth-child(#{$cols}n + #{$cols}) {
          @include omega();
        }
        &:nth-child(#{$cols}n + 1) {
          clear: both;
        }
      }
    }
  }
}

// List Columns Reset
@include media($mobile) {
  @each $cols, $fractional in $list_columns {
    .list_col#{$cols} {
      ul{
        li {
          @include span-columns($grid-columns, block);
          @include omega();
        }
      }
    }
  }
}