// Adjusts line height so larger font sizes have smaller line heights
// starting from 1.25 up to 1.8333
@function header-line-height( $size ) {
  @if $size > 6 {
    @return 1.25;
  } @else {
    @return ((6 - $size) * .08333 ) + 1.25;
  }
}


@mixin text-color-background( $background-color ) {
  @if is-light($background-color) {
    color: $base-font-color;
  } @else {
    color: #fff;
  }
}

@mixin link-color($color) {
  &:link,
  &:visited {
    color: $color;
  }

  &:hover,
  &:focus {

    @if is-light($color) {
      color: darken($color, 15%);
    } @else {
      color: lighten($color, 15%);
    }
    transition: $base-duration $base-timing;
  }
}

@mixin link-colors() {

  @each $name, $color in $stellar-colors {
    .link-color-#{$name} {
      a {
        @include link-color($color);
      }
    }
  }
}

@mixin alpha-classes( $color, $prefix: '' ) {

  &.#{$prefix}alpha20 {
    background-color: transparentize($color, 80%);
  }

  &.#{$prefix}alpha50 {
    background-color: transparentize($color, 50%);
  }

  &.#{$prefix}alpha80 {
    background-color: transparentize($color, 20%);
  }

}

@mixin background-variations( $color, $prefix: '' ) {

  $shade1: shade($color, 20%);
  $shade2: shade($color, 40%);
  $tint1: tint($color, 20%);
  $tint2: tint($color, 40%);

  background-color: $color;
  @include alpha-classes($color, $prefix);

  &.#{$prefix}shade1 {
    background-color: $shade1;
    @include alpha-classes($shade1, $prefix);
  }

  &.#{$prefix}shade2 {
    background-color: $shade2;
    @include alpha-classes($shade2, $prefix);
  }

  &.#{$prefix}tint1 {
    background-color: $tint1;
    @include alpha-classes($tint1, $prefix);
  }

  &.#{$prefix}tint2 {
    background-color: $tint2;
    @include alpha-classes($tint2, $prefix);
  }
}

@mixin background-colors() {

  @each $name, $color in $stellar-colors {
    .background-#{$name} {
      @include background-variations($color);
    }
  }
}

// Margins and Padding for ready classes
@mixin padandmarg( $prefix: '' ) {

  $sizes: (
    '-0-5'  : $base-spacing / 2,
    '-1'    : $base-spacing,
    '-1-5'  : $base-spacing * 1.5,
    '-2'    : $base-spacing * 2,
    '-2-5'  : $base-spacing * 2.5,
    '-3'    : $base-spacing * 3,
    '-3-5'  : $base-spacing * 3.5,
    '-4'    : $base-spacing * 4,
  );

  @each $size, $amount in $sizes {

    @each $side in $sides {
      .#{$prefix}padding#{$side}#{$size} {

        @if $side == '' {
          @include pad($amount);

          > .force-over-padding{
            margin-left: -$amount;
            margin-top: -$amount;
            margin-right: -$amount;
          }

        } @else {
          padding#{$side}: $amount;

          @if $side != '-bottom' {
            > .force-over-padding {
              margin#{$side}: -$amount;
            }
          }
        }
      }

      @if $side == '-top' or $side == '-bottom' {
        .#{$prefix}margin#{$side}#{$size} {
          margin#{$side}: $amount;
        }
      }
    }
  }
}

@mixin border-sizes( $prefix: '' ){

  @each $side in $sides {

    @each $weight, $size in $border-weights {

      .#{$prefix}border#{$side}#{$weight} {
        border-color: inherit;
        border#{$side}-width: $size + px;
        border#{$side}-style: solid;
      }
    }
  }
}

@mixin corners( $prefix: '' ) {

  $corners: (
          '',
          '-top-left',
          '-top-right',
          '-bottom-right',
          '-bottom-left'
  );

  @each $corner in $corners{

    .#{$prefix}rounded-corners#{$corner} {
      border#{$corner}-radius: $base-border-radius;
      z-index: 1; // Hack for funky laptop corners needed for maps WTF

      &:before {
        border#{$corner}-radius: $base-border-radius;
      }

      &:not(.brightfire-menu-bar) {
        overflow: hidden;
      }

      @if $corner == -top-left or $corner == -bottom-left {
        &.brightfire-menu-bar {
          padding-left: $base-border-radius;
        }
      } @else if $corner == -top-right or $corner == -bottom-right {
        &.brightfire-menu-bar {
          padding-right: $base-border-radius;
        }
      } @else {
        &.brightfire-menu-bar {
          padding-left: $base-border-radius;
          padding-right: $base-border-radius;
        }
      }

      @include media( $mobile ) {
        &.brightfire-menu-bar {
          padding-left: 0;
          padding-right: 0;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }
  }
}

@mixin border-colors() {

  // Color Overrides for borders
  @each $name, $color in $stellar-colors {

    .border-color-#{$name} {
      border-color: $color;


      &.border-shade1 {
        border-color: shade($color, 20%);
      }

      &.border-shade2 {
        border-color: shade($color, 40%);
      }

      &.border-tint1 {
        border-color: tint($color, 20%);
      }

      &.border-tint2 {
        border-color: tint($color, 40%);
      }

      &.border-alpha20 {
        border-color: transparentize($color, 80%);
      }
    }
  }

  .border-color-transparent {
    border-color: transparent;
  }
}

@mixin button_colors() {

  // Ready Classes
  @each $name, $color in $stellar-colors {

    .btn-#{$name} {
      #{$stellar-button-inputs}  {
        background-color: $color;
        @if $name == gray or $name == light {
          color: $accent-color;
        } @else {
          color: #fff;
        }

        &:hover {
          background-color: darken($color, 5%);
        }
      }

      &.btn-transparent {
        #{$stellar-button-inputs} {
          background-color: transparent;
          color: $color;
          box-shadow: inset 0 0 0 3px $color;
          &:hover {
            background-color: rgba( $color, 0.25 );
          }
        }
      }
    }

    .btn-text-#{$name} {
      #{$stellar-button-inputs} {
        color: $color !important;
      }
    }
  }
}

@mixin stellar-headers() {

  $sizes: (
          'h1': 5,
          'h2': 4,
          'h3': 3,
          'h4': 2,
          'h5': 1,
          'h6': 1
  );

  @each $tag, $size in $sizes{
    $font-size: modular-scale($size, $base-font-size, $font-ratio);

    #{$tag}{
      font-family: $header-font-family;
      font-weight: 700;
      font-size: $font-size;
      font-style: normal;
      line-height: header-line-height( $size );
      margin-top: 0;
      margin-bottom: $base-spacing;
    }

  }
}

@mixin font-sizes( $prefix ) {

  $sizes : (
          'small': -1,
          'base': 0,
          'medium': 1, //h5 and h6
          'large': 2, //h4
          'xlarge': 3, //h3
          'xxlarge': 4, //h2
          'xxxlarge': 5, //h1
          'hero-small': 6,
          'hero-medium': 7,
          'hero-large': 8,
  );

  @each $name, $size in $sizes {
    $font-size: modular-scale($size, $base-font-size, $font-ratio);


    .#{$prefix}text-size-#{$name},
    .#{$prefix}text-size-#{$name}.widgettitle {
      font-size: $font-size;
      line-height: header-line-height( $size );

      &.line-height-large {
        line-height: 2;
      }

      // Fix for circle icons
      i.fa {
        width: $font-size;
      }
      i.fa.logo {
        width: auto;
      }
      .fa-stack {
        i.fa {
          width: 100%;
        }
      }
      i.fa-lg {
        width: .3333333 * $font-size;
      }
      i.fa-2x {
        width: 2 * $font-size;
      }
      i.fa-3x {
        width: 3 * $font-size;
      }
      i.fa-4x {
        width: 4 * $font-size;
      }
      i.fa-5x {
        width: 5 * $font-size;
      }

      input,
      label,
      select {
        font-size: $font-size;
        line-height: header-line-height( $size );
      }

      ul.bfmenu-menubar ul.dropdown li,
      ul.bfmenu-menubar ul.bfmenu-tabs-nav li {

        @if ( 'small' == $name ) {
          font-size: inherit;
        } @else if( 'base' == $name ) {
          font-size: $base-font-size * 0.875;
        } @else {
          font-size: $base-font-size;
        }
      }
    }

    .#{$prefix}heading-size-#{$name} {
      h1, h2, h3, h4, h5, h6 {
        font-size: $font-size;
        line-height: header-line-height( $size );
      }
    }

    .#{$prefix}btn-text-size-#{$name} {
      input[type="submit"] {
        font-size: $font-size;
        line-height: header-line-height( $size );
      }
    }
  }
}


@mixin fixed-line-height( $prefix ) {

  $sizes: (
          '0-5': 0.5,
          '1': 1,
          '1-5': 1.5,
          '2': 2,
          '2-5': 2.5,
          '3': 3,
          '3.5': 3.5,
          '4': 4,
  );

  @each $name, $size in $sizes {

    .#{$prefix}fixed-line-height-#{$name} {

      line-height: ($base-spacing * $size) !important;

      h1, h2, h3, h4, h5, h6 {
        line-height: ($base-spacing * $size) !important;
      }
    }
  }
}

@mixin slidebar-position( $position: center ) {
  .slidebar-widgets-wrap {
    display: flex;
    align-items: $position;
    height: 100%;

    .slidebar-widgets {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      h1, h2, h3, h4, h5, h6 { margin:  0; }
      
      @if stretch == $position {
        .widget {
          display: flex;
          align-items: stretch;
          height: 100%;
        }
      }
    }
  }
}

/** Tested replacement for flexbox slidebar-position if needed **/
/** For the next time we get ornery with flex-box **/
@mixin slidebar-position-table( $position: center ) {

  .slidebar-widgets-wrap {

    //box-sizing: content-box;

    display: table;
    height: 100%;
    width: 100%;

    .slidebar-widgets {
      width: 100%;
      height: 100%;

      @if stretch != $position {
        vertical-align: $position;
        display: table-cell;
      }

      h1,h2,h3,h4,h5,h6 { margin: 0 }

      @if stretch == $position {
        .widget {
          height: 100%;
        }
      }

    }
  }
}

@mixin grid-widths( $columns, $display ) {

  @include span-columns($columns of $grid-columns, $display);

  &-last {
    @include span-columns($columns of $grid-columns, $display);
    @include omega();
  }
}

@mixin column_gutters() {

  $sizes: (
          'base': $base-spacing,
          '1-5' : $base-spacing * 1.5,
          '2'   : $base-spacing * 2,
          '2-5' : $base-spacing * 2.5,
          '3'   : $base-spacing * 3,
  );

  @include media( $desktop ) {

    .row {
      @each $name, $size in $sizes {

        &.gutter-#{$name} {
          .container > {
            & :first-child {
              padding-right: $size / 2;
            }

            & :last-child {
              padding-left: $size / 2;
            }

            & :only-child {
              padding-right: 0;
              padding-left: 0;
            }
          }
        }
      }
    }
  }
}