$class-variants: ('text', 'heading', 'btn');
$font-family-variants: ('header': $header-font-family, 'body': $base-font-family, 'accent': $accent-font-family);
$font-weight-variants: ('light': 300, 'regular': 400, 'bold': 700);

@mixin wrap-switch($switch, $rule, $value){

  @if 'text' == $switch {
    #{$rule}: $value;
  }

  @if 'heading' == $switch {
    h1, h2, h3, h4, h5, h6 {
      #{$rule}: $value;
    }
  }

  @if 'btn' == $switch {
    #{$stellar-button-inputs} {
      #{$rule}: $value;
    }
  }
}

@mixin ready-classes($prefix: '') {

  @include font-sizes( $prefix );
  @include fixed-line-height( $prefix );
  @include padandmarg( $prefix );
  @include border-sizes( $prefix );

  .#{$prefix}btn-mini {
    #{$stellar-button-inputs} {
      padding: 0 $half-spacing;
    }
  }

  .#{$prefix}btn-large {
    #{$stellar-button-inputs} {
      padding: $base-spacing $base-spacing-2;
    }
  }

  .#{$prefix}btn-block {
    #{$stellar-button-inputs} {
      display: block;
      width: 100%;
      padding-left: $half-spacing;
      padding-right: $half-spacing;
    }
  }

  .#{$prefix}text-align-center {
    text-align: center;
  }

  .#{$prefix}text-align-left {
    text-align: left;
  }

  .#{$prefix}text-align-right {
    text-align: right;
  }

  .#{$prefix}hide {
    display: none !important;
  }

}

@each $class in $class-variants {

  // FAMILIES
  @each $variant, $family in $font-family-variants {
    .#{$class}-font-#{$variant}{
      @include wrap-switch( $class, 'font-family', $family);
    }
  }

  // UPPERCASE
  .#{$class}-uppercase {
    @include wrap-switch( $class, 'text-transform', uppercase);
  }

  // UPPERCASE
  .#{$class}-italic {
    @include wrap-switch( $class, 'font-style', italic);
  }

  // WEIGHTS
  @each $variant, $weight in $font-weight-variants {
    .#{$class}-weight-#{$variant}{
      @include wrap-switch( $class, 'font-weight', $weight);
    }
  }

  // TEXT COLORS
  @each $name, $color in $stellar-colors {
    .#{$class}-color-#{$name}{
      @include wrap-switch( $class, 'color', $color);
    }
  }
}

.circle-image,
.circle-image:before {
  border-radius: 100vh;
  overflow: hidden;
  display: inline-block;
}

// Build global styles
@include ready-classes();

@include corners();

// Build styles for Desktop
@include media($desktop) {
  @include ready-classes('d-');

  // Row Container Heights
  .min-height-viewport {
    min-height: 100vh;
  }

  $height: 100;
  @while $height <= 800 {
    .min-height-#{$height} {
      min-height: #{$height}px;
    }
    $height: $height + 25;
  }
}

// Build styles for Mobile
@include media($mobile) {
  @include ready-classes('m-');
}

@include background-colors();
@include border-colors();
@include link-colors();
@include button-colors();