/** bf_callout **/

div.callout {
  font-weight: 700;
  border-top: $base-border;
  border-bottom: $base-border;
  padding: $base-spacing;
  margin: $base-spacing 0;

  p {
    &:first-of-type { // Make sure we don't have top-padding or - margin on first <p>
      margin-top: 0;
      padding-top: 0;
    }

    &:last-of-type { // Make sure we don't have bottom-padding or - margin on last <p>
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}