@import 'flexslider.scss';

.brightfire-slidebar {
  opacity: 0;
  position: relative;
  overflow: hidden;
  zoom: 1;
  z-index: 0;

  &.stellar-row-slider {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .bf-slider-viewport {
    height: 100%;
  }

  ul.slides {
    list-style: none;
    height: 100%;
    zoom: 1;

    li {
      height: 100%;

      //&.widget-position-bottom {
      //  @include slidebar-position( flex-end );
      //}
      //
      //&.widget-position-middle {
      //  @include slidebar-position( center );
      //}
      //
      //&.widget-position-top {
      //  @include slidebar-position( flex-start );
      //}
      //
      //&.widget-position-stretch {
      //  @include slidebar-position( stretch );
      //}

      &.widget-position-bottom {
        @include slidebar-position-table( bottom );
      }

      &.widget-position-middle {
        @include slidebar-position-table( middle );
      }

      &.widget-position-top {
        @include slidebar-position-table( top );
      }

      &.widget-position-stretch {
        @include slidebar-position-table( stretch );
      }

      &.slide-padding {
        padding: 0 $base-spacing;
      }

    }
  }
}

div.window-width {
    div.slidebar-widgets-wrap {
      @include outer-container(); // Nested containers should never be 100% width
    }
}