table {
  border-collapse: collapse;
  font-feature-settings: "kern", "liga", "tnum";
  margin: 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid shade($base-border-color, 25%);
  font-weight: 600;
  padding: $base-font-size;
  text-align: left;
}

td {
  border-bottom: $base-border;
  padding: $base-font-size;
}

tr,
td,
th {
  vertical-align: middle;
}
