/***************** Imports - Leave comment intact for compiling issue *****************/
@import "forms";
@import "lists";
@import "buttons";
@import "tables";
@import "menu";
@import "grid";
@import "shortcodes";
@import "slider";
@import "brand_icons";


.clearfix {
  @include clearfix;
}

/***************** Fonts *****************/

html {
  font-size: $base-font-size;
  min-height: 100%;
  -webkit-font-smoothing: antialiased!important;
}

body {
  color: $base-font-color;
  min-height: 100%;
  font-size: 1rem;
  font-family: $base-font-family;
  line-height: $base-line-height;
  word-wrap: break-word;
}

/***************** Defaults *****************/
a {
  @include link-color($accent-color);
  text-decoration: none;
}

// Headings
@include stellar-headers();

p{
  margin-top: 0;
  margin-bottom: $base-spacing;
}

table,
blockquote,
dl {
  margin-bottom: $base-spacing-2;
  font-size: 1rem;
}

img {
  max-width: 100%;
  vertical-align: top;
  height: auto;
}

.alignleft {
  float: left;
  margin: 0 $base-spacing $base-spacing 0;
}

.alignright {
  float: right;
  margin: 0 0 $base-spacing $base-spacing;
}

.alignnone {
  display: inline-block;
  margin: 0 0 $base-spacing 0;
}

.aligncenter {
  margin: $base-spacing auto;
  display: block;
  clear: both;
}

.wp-caption {
  border: 1px solid $base-border-color;
  text-align: center;
  max-width: 100%;
  @include pad($base-spacing);

  p.wp-caption-text {
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 0;
  }
}

.traveling {
  z-index: 50 !important;
}

.background-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.post-info,
.post-meta,
.entry-meta {
  color: $medium-gray;
  margin: 0;
  padding: $half-spacing 0;
  font-size: $base-font-size * .875;
  text-transform: uppercase;
  display: block;
  a {
    color: $medium-gray;
  }
}

h1 {
  + .post-info,
  + .post-meta,
  + .entry-meta {
    padding-top: 0;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: $base-background-color;
}

.widget {
  position: relative;
}

.widgettitle {
  position: relative;
  margin-bottom: 0;
}

.stellar-row-parallax {
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .background-layer {

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    background-attachment: scroll !important;
    transition: transform 100ms ease-out;

  }
}

@include media($mobile) {
  .alignleft,
  .alignright,
  .alignnone {
    margin: 0 auto $base-spacing;
    float: none;
    display: block;
    clear: both;
  }
}

// BrightFire Plugins
@import "plugins/brightfire_bucket_widget";
@import "plugins/brightfire_current_content";
@import "plugins/brightfire_erie_widget";
@import "plugins/brightfire_footer_credits";
@import "plugins/brightfire_recent_blog_posts";
@import "plugins/brightfire_child_page_links";
@import "plugins/brightfire_categories_archives_widget";
@import "plugins/brightfire_carrier_widget";
@import "plugins/brightfire_employee_widget";
@import "plugins/brightfire_google_maps";
@import "plugins/brightfire_locations_widget";
@import "plugins/brightfire_pagination_links";
@import "plugins/brightfire_site_identity";
@import "plugins/brightfire_reviews";
@import "ready_classes";
