// Grid
$grid-columns: 12;

// Colors
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #F5F5F5;

// Fonts
$base-line-height: 1.75;
$base-font-color: $dark-gray;

// Other Sizes
$base-spacing: $base-line-height * $base-font-size;
$half-spacing: $base-spacing / 2;
$base-spacing-2: $base-spacing * 2;
$base-z-index: 0;

// Border
$base-border-color: darken( $light-gray, 10% );
$border-color-light: #fff;
$border-color-dark: $dark-gray;
$base-border-size: 1px;
$base-border: $base-border-size solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$background-color-light: #fff;
$background-color-dark: $dark-gray;

// Forms
$form-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($accent-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Breakpoint
$desktop: new-breakpoint(min-width $breakpoint + 1);
$mobile: new-breakpoint(max-width $breakpoint);

// Button Elements
$stellar-button-inputs: 'a.btn,a.btn:link,a.btn:visited,input[type="button"]:not(.gform_button_select_files),input[type="submit"]';

// Color Mapping Array
$stellar-colors: (
        'primary': $primary-color,
        'secondary': $secondary-color,
        'tertiary': $tertiary-color,
        'accent': $accent-color,
        'dark' : $dark-gray,
        'gray' : $light-gray,
        'light' : #ffffff,
);

$custom-colors: (
        'custom1': $custom1-color,
        'custom2': $custom2-color
);

// Brand Colors
$facebook: #3b5998;
$twitter: #00aced;
$linkedin: #0077b5;
$pinterest: #bd081c;
$youtube: #cd201f;
$instagram: #405de6;
$foursquare: #f94877;
$google: #dd4b39;
$yelp: #af0606;
$rss: #FF6600;
$yahoo_local: #410093;
$citysearch: #66ccff;
$yellow_pages: #ffd400;
$bbb: #005a78;

// All four plus each side of a quadrangle
$sides: (
        '',
        '-top',
        '-right',
        '-bottom',
        '-left'
);

$border-weights: (
        '': 1,
        '-medium': 3,
        '-heavy': 6
);