/**
 * BrightFire Stellar
 * https://www.brightfire.com
 *
 * Copyright (c) 2015 Matt McKenny
 * Licensed under the GPLv2+ license.
 */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #477dca;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  -webkit-transition: background-color 150ms ease;
          transition: background-color 150ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #3964a2;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #477dca; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1rem; }

label {
  font-weight: 600;
  margin-bottom: 0.38em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  margin-bottom: 0.75em;
  padding: 0.5em;
  -webkit-transition: border-color 150ms ease;
          transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple=multiple]:hover {
    border-color: #b1b1b1; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple=multiple]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple=multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple=multiple]:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.38em; }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    display: inline-block; }

input[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  -webkit-font-feature-settings: "kern", "liga", "tnum";
          font-feature-settings: "kern", "liga", "tnum";
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  -webkit-font-feature-settings: "kern", "liga", "pnum";
          font-feature-settings: "kern", "liga", "pnum";
  font-size: 1rem;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  -webkit-transition: color 150ms ease;
          transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #355e98; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff; }
  body.font-set1 {
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; }
  body.font-set2 {
    font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif; }

div.row div.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  div.row div.container::after {
    clear: both;
    content: "";
    display: table; }
  div.row div.container .container {
    max-width: 100%; }
  div.row div.container.window-width {
    max-width: 100%; }
  div.row div.container div.column.col-1 {
    float: left;
    display: block;
    margin-right: 2.36%;
    width: 6.17%; }
    div.row div.container div.column.col-1:last-child {
      margin-right: 0; }
  div.row div.container div.column .widget.full-width {
    float: left;
    display: block;
    margin-right: 38.2%;
    width: 100%; }
    div.row div.container div.column .widget.full-width:last-child {
      margin-right: 0; }
  div.row div.container div.column.no-gutters .widget.full-width {
    float: left;
    display: block;
    margin-right: 38.2%;
    width: 100%; }
    div.row div.container div.column.no-gutters .widget.full-width:last-child {
      margin-right: 0; }
  div.row div.container div.column.col-2 {
    float: left;
    display: block;
    margin-right: 2.36%;
    width: 14.7%; }
    div.row div.container div.column.col-2:last-child {
      margin-right: 0; }
  div.row div.container div.column .widget.full-width {
    float: left;
    display: block;
    margin-right: 16.04%;
    width: 100%; }
    div.row div.container div.column .widget.full-width:last-child {
      margin-right: 0; }
  div.row div.container div.column.no-gutters .widget.full-width {
    float: left;
    display: block;
    margin-right: 16.04%;
    width: 100%; }
    div.row div.container div.column.no-gutters .widget.full-width:last-child {
      margin-right: 0; }
  div.row div.container div.column.col-3 {
    float: left;
    display: block;
    margin-right: 2.36%;
    width: 23.23%; }
    div.row div.container div.column.col-3:last-child {
      margin-right: 0; }
  div.row div.container div.column .widget.full-width {
    float: left;
    display: block;
    margin-right: 10.15%;
    width: 100%; }
    div.row div.container div.column .widget.full-width:last-child {
      margin-right: 0; }
  div.row div.container div.column.no-gutters .widget.full-width {
    float: left;
    display: block;
    margin-right: 10.15%;
    width: 100%; }
    div.row div.container div.column.no-gutters .widget.full-width:last-child {
      margin-right: 0; }
  div.row div.container div.column.col-4 {
    float: left;
    display: block;
    margin-right: 2.36%;
    width: 31.76%; }
    div.row div.container div.column.col-4:last-child {
      margin-right: 0; }
  div.row div.container div.column .widget.full-width {
    float: left;
    display: block;
    margin-right: 7.42%;
    width: 100%; }
    div.row div.container div.column .widget.full-width:last-child {
      margin-right: 0; }
  div.row div.container div.column .widget.one-half {
    float: left;
    display: block;
    margin-right: 7.42%;
    width: 46.29%;
    background-color: blue; }
    div.row div.container div.column .widget.one-half:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-half.last {
      margin-right: 0; }
  div.row div.container div.column .widget.one-third {
    float: left;
    display: block;
    margin-right: 7.42%;
    width: 28.38%;
    background-color: blue; }
    div.row div.container div.column .widget.one-third:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-third.last {
      margin-right: 0; }
  div.row div.container div.column .widget.one-fourth {
    float: left;
    display: block;
    margin-right: 7.42%;
    width: 19.43%;
    background-color: blue; }
    div.row div.container div.column .widget.one-fourth:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-fourth.last {
      margin-right: 0; }
  div.row div.container div.column .widget.one-fifth {
    float: left;
    display: block;
    margin-right: 7.42%;
    width: 14.06%;
    background-color: blue; }
    div.row div.container div.column .widget.one-fifth:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-fifth.last {
      margin-right: 0; }
  div.row div.container div.column .widget.two-thirds {
    float: left;
    display: block;
    margin-right: 7.42%;
    width: 64.19%;
    background-color: blue; }
    div.row div.container div.column .widget.two-thirds:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.two-thirds.last {
      margin-right: 0; }
  div.row div.container div.column .widget.two-fifths {
    float: left;
    display: block;
    margin-right: 7.42%;
    width: 35.55%;
    background-color: blue; }
    div.row div.container div.column .widget.two-fifths:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.two-fifths.last {
      margin-right: 0; }
  div.row div.container div.column .widget.three-fifths {
    float: left;
    display: block;
    margin-right: 7.42%;
    width: 57.03%;
    background-color: blue; }
    div.row div.container div.column .widget.three-fifths:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.three-fifths.last {
      margin-right: 0; }
  div.row div.container div.column .widget.four-fifths {
    float: left;
    display: block;
    margin-right: 7.42%;
    width: 78.52%;
    background-color: blue; }
    div.row div.container div.column .widget.four-fifths:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.four-fifths.last {
      margin-right: 0; }
  div.row div.container div.column.no-gutters .widget.full-width {
    float: left;
    display: block;
    margin-right: 7.42%;
    width: 100%; }
    div.row div.container div.column.no-gutters .widget.full-width:last-child {
      margin-right: 0; }
  div.row div.container div.column.no-gutters .widget.one-half {
    display: table-cell;
    width: 50%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.one-third {
    display: table-cell;
    width: 33.33%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.one-fourth {
    display: table-cell;
    width: 25%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.one-fifth {
    display: table-cell;
    width: 20%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.two-thirds {
    display: table-cell;
    width: 66.67%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.two-fifths {
    display: table-cell;
    width: 40%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.three-fifths {
    display: table-cell;
    width: 60%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.four-fifths {
    display: table-cell;
    width: 80%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.col-5 {
    float: left;
    display: block;
    margin-right: 2.36%;
    width: 40.29%; }
    div.row div.container div.column.col-5:last-child {
      margin-right: 0; }
  div.row div.container div.column .widget.full-width {
    float: left;
    display: block;
    margin-right: 5.85%;
    width: 100%; }
    div.row div.container div.column .widget.full-width:last-child {
      margin-right: 0; }
  div.row div.container div.column .widget.one-half {
    float: left;
    display: block;
    margin-right: 5.85%;
    width: 47.07%;
    background-color: blue; }
    div.row div.container div.column .widget.one-half:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-half.last {
      margin-right: 0; }
  div.row div.container div.column .widget.one-third {
    float: left;
    display: block;
    margin-right: 5.85%;
    width: 29.43%;
    background-color: blue; }
    div.row div.container div.column .widget.one-third:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-third.last {
      margin-right: 0; }
  div.row div.container div.column .widget.one-fourth {
    float: left;
    display: block;
    margin-right: 5.85%;
    width: 20.61%;
    background-color: blue; }
    div.row div.container div.column .widget.one-fourth:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-fourth.last {
      margin-right: 0; }
  div.row div.container div.column .widget.one-fifth {
    float: left;
    display: block;
    margin-right: 5.85%;
    width: 15.32%;
    background-color: blue; }
    div.row div.container div.column .widget.one-fifth:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-fifth.last {
      margin-right: 0; }
  div.row div.container div.column .widget.two-thirds {
    float: left;
    display: block;
    margin-right: 5.85%;
    width: 64.72%;
    background-color: blue; }
    div.row div.container div.column .widget.two-thirds:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.two-thirds.last {
      margin-right: 0; }
  div.row div.container div.column .widget.two-fifths {
    float: left;
    display: block;
    margin-right: 5.85%;
    width: 36.49%;
    background-color: blue; }
    div.row div.container div.column .widget.two-fifths:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.two-fifths.last {
      margin-right: 0; }
  div.row div.container div.column .widget.three-fifths {
    float: left;
    display: block;
    margin-right: 5.85%;
    width: 57.66%;
    background-color: blue; }
    div.row div.container div.column .widget.three-fifths:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.three-fifths.last {
      margin-right: 0; }
  div.row div.container div.column .widget.four-fifths {
    float: left;
    display: block;
    margin-right: 5.85%;
    width: 78.83%;
    background-color: blue; }
    div.row div.container div.column .widget.four-fifths:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.four-fifths.last {
      margin-right: 0; }
  div.row div.container div.column.no-gutters .widget.full-width {
    float: left;
    display: block;
    margin-right: 5.85%;
    width: 100%; }
    div.row div.container div.column.no-gutters .widget.full-width:last-child {
      margin-right: 0; }
  div.row div.container div.column.no-gutters .widget.one-half {
    display: table-cell;
    width: 50%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.one-third {
    display: table-cell;
    width: 33.33%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.one-fourth {
    display: table-cell;
    width: 25%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.one-fifth {
    display: table-cell;
    width: 20%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.two-thirds {
    display: table-cell;
    width: 66.67%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.two-fifths {
    display: table-cell;
    width: 40%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.three-fifths {
    display: table-cell;
    width: 60%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.four-fifths {
    display: table-cell;
    width: 80%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.col-6 {
    float: left;
    display: block;
    margin-right: 2.36%;
    width: 48.82%; }
    div.row div.container div.column.col-6:last-child {
      margin-right: 0; }
  div.row div.container div.column .widget.full-width {
    float: left;
    display: block;
    margin-right: 4.83%;
    width: 100%; }
    div.row div.container div.column .widget.full-width:last-child {
      margin-right: 0; }
  div.row div.container div.column .widget.one-half {
    float: left;
    display: block;
    margin-right: 4.83%;
    width: 47.59%;
    background-color: blue; }
    div.row div.container div.column .widget.one-half:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-half.last {
      margin-right: 0; }
  div.row div.container div.column .widget.one-third {
    float: left;
    display: block;
    margin-right: 4.83%;
    width: 30.11%;
    background-color: blue; }
    div.row div.container div.column .widget.one-third:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-third.last {
      margin-right: 0; }
  div.row div.container div.column .widget.one-fourth {
    float: left;
    display: block;
    margin-right: 4.83%;
    width: 21.38%;
    background-color: blue; }
    div.row div.container div.column .widget.one-fourth:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-fourth.last {
      margin-right: 0; }
  div.row div.container div.column .widget.one-fifth {
    float: left;
    display: block;
    margin-right: 4.83%;
    width: 16.14%;
    background-color: blue; }
    div.row div.container div.column .widget.one-fifth:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-fifth.last {
      margin-right: 0; }
  div.row div.container div.column .widget.two-thirds {
    float: left;
    display: block;
    margin-right: 4.83%;
    width: 65.06%;
    background-color: blue; }
    div.row div.container div.column .widget.two-thirds:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.two-thirds.last {
      margin-right: 0; }
  div.row div.container div.column .widget.two-fifths {
    float: left;
    display: block;
    margin-right: 4.83%;
    width: 37.1%;
    background-color: blue; }
    div.row div.container div.column .widget.two-fifths:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.two-fifths.last {
      margin-right: 0; }
  div.row div.container div.column .widget.three-fifths {
    float: left;
    display: block;
    margin-right: 4.83%;
    width: 58.07%;
    background-color: blue; }
    div.row div.container div.column .widget.three-fifths:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.three-fifths.last {
      margin-right: 0; }
  div.row div.container div.column .widget.four-fifths {
    float: left;
    display: block;
    margin-right: 4.83%;
    width: 79.03%;
    background-color: blue; }
    div.row div.container div.column .widget.four-fifths:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.four-fifths.last {
      margin-right: 0; }
  div.row div.container div.column.no-gutters .widget.full-width {
    float: left;
    display: block;
    margin-right: 4.83%;
    width: 100%; }
    div.row div.container div.column.no-gutters .widget.full-width:last-child {
      margin-right: 0; }
  div.row div.container div.column.no-gutters .widget.one-half {
    display: table-cell;
    width: 50%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.one-third {
    display: table-cell;
    width: 33.33%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.one-fourth {
    display: table-cell;
    width: 25%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.one-fifth {
    display: table-cell;
    width: 20%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.two-thirds {
    display: table-cell;
    width: 66.67%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.two-fifths {
    display: table-cell;
    width: 40%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.three-fifths {
    display: table-cell;
    width: 60%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.four-fifths {
    display: table-cell;
    width: 80%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.col-7 {
    float: left;
    display: block;
    margin-right: 2.36%;
    width: 57.35%; }
    div.row div.container div.column.col-7:last-child {
      margin-right: 0; }
  div.row div.container div.column .widget.full-width {
    float: left;
    display: block;
    margin-right: 4.11%;
    width: 100%; }
    div.row div.container div.column .widget.full-width:last-child {
      margin-right: 0; }
  div.row div.container div.column .widget.one-half {
    float: left;
    display: block;
    margin-right: 4.11%;
    width: 47.94%;
    background-color: blue; }
    div.row div.container div.column .widget.one-half:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-half.last {
      margin-right: 0; }
  div.row div.container div.column .widget.one-third {
    float: left;
    display: block;
    margin-right: 4.11%;
    width: 30.59%;
    background-color: blue; }
    div.row div.container div.column .widget.one-third:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-third.last {
      margin-right: 0; }
  div.row div.container div.column .widget.one-fourth {
    float: left;
    display: block;
    margin-right: 4.11%;
    width: 21.92%;
    background-color: blue; }
    div.row div.container div.column .widget.one-fourth:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-fourth.last {
      margin-right: 0; }
  div.row div.container div.column .widget.one-fifth {
    float: left;
    display: block;
    margin-right: 4.11%;
    width: 16.71%;
    background-color: blue; }
    div.row div.container div.column .widget.one-fifth:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-fifth.last {
      margin-right: 0; }
  div.row div.container div.column .widget.two-thirds {
    float: left;
    display: block;
    margin-right: 4.11%;
    width: 65.3%;
    background-color: blue; }
    div.row div.container div.column .widget.two-thirds:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.two-thirds.last {
      margin-right: 0; }
  div.row div.container div.column .widget.two-fifths {
    float: left;
    display: block;
    margin-right: 4.11%;
    width: 37.53%;
    background-color: blue; }
    div.row div.container div.column .widget.two-fifths:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.two-fifths.last {
      margin-right: 0; }
  div.row div.container div.column .widget.three-fifths {
    float: left;
    display: block;
    margin-right: 4.11%;
    width: 58.36%;
    background-color: blue; }
    div.row div.container div.column .widget.three-fifths:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.three-fifths.last {
      margin-right: 0; }
  div.row div.container div.column .widget.four-fifths {
    float: left;
    display: block;
    margin-right: 4.11%;
    width: 79.18%;
    background-color: blue; }
    div.row div.container div.column .widget.four-fifths:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.four-fifths.last {
      margin-right: 0; }
  div.row div.container div.column.no-gutters .widget.full-width {
    float: left;
    display: block;
    margin-right: 4.11%;
    width: 100%; }
    div.row div.container div.column.no-gutters .widget.full-width:last-child {
      margin-right: 0; }
  div.row div.container div.column.no-gutters .widget.one-half {
    display: table-cell;
    width: 50%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.one-third {
    display: table-cell;
    width: 33.33%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.one-fourth {
    display: table-cell;
    width: 25%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.one-fifth {
    display: table-cell;
    width: 20%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.two-thirds {
    display: table-cell;
    width: 66.67%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.two-fifths {
    display: table-cell;
    width: 40%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.three-fifths {
    display: table-cell;
    width: 60.0%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.four-fifths {
    display: table-cell;
    width: 80%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.col-8 {
    float: left;
    display: block;
    margin-right: 2.36%;
    width: 65.88%; }
    div.row div.container div.column.col-8:last-child {
      margin-right: 0; }
  div.row div.container div.column .widget.full-width {
    float: left;
    display: block;
    margin-right: 3.58%;
    width: 100%; }
    div.row div.container div.column .widget.full-width:last-child {
      margin-right: 0; }
  div.row div.container div.column .widget.one-half {
    float: left;
    display: block;
    margin-right: 3.58%;
    width: 48.21%;
    background-color: blue; }
    div.row div.container div.column .widget.one-half:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-half.last {
      margin-right: 0; }
  div.row div.container div.column .widget.one-third {
    float: left;
    display: block;
    margin-right: 3.58%;
    width: 30.95%;
    background-color: blue; }
    div.row div.container div.column .widget.one-third:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-third.last {
      margin-right: 0; }
  div.row div.container div.column .widget.one-fourth {
    float: left;
    display: block;
    margin-right: 3.58%;
    width: 22.32%;
    background-color: blue; }
    div.row div.container div.column .widget.one-fourth:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-fourth.last {
      margin-right: 0; }
  div.row div.container div.column .widget.one-fifth {
    float: left;
    display: block;
    margin-right: 3.58%;
    width: 17.14%;
    background-color: blue; }
    div.row div.container div.column .widget.one-fifth:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-fifth.last {
      margin-right: 0; }
  div.row div.container div.column .widget.two-thirds {
    float: left;
    display: block;
    margin-right: 3.58%;
    width: 65.47%;
    background-color: blue; }
    div.row div.container div.column .widget.two-thirds:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.two-thirds.last {
      margin-right: 0; }
  div.row div.container div.column .widget.two-fifths {
    float: left;
    display: block;
    margin-right: 3.58%;
    width: 37.85%;
    background-color: blue; }
    div.row div.container div.column .widget.two-fifths:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.two-fifths.last {
      margin-right: 0; }
  div.row div.container div.column .widget.three-fifths {
    float: left;
    display: block;
    margin-right: 3.58%;
    width: 58.57%;
    background-color: blue; }
    div.row div.container div.column .widget.three-fifths:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.three-fifths.last {
      margin-right: 0; }
  div.row div.container div.column .widget.four-fifths {
    float: left;
    display: block;
    margin-right: 3.58%;
    width: 79.28%;
    background-color: blue; }
    div.row div.container div.column .widget.four-fifths:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.four-fifths.last {
      margin-right: 0; }
  div.row div.container div.column.no-gutters .widget.full-width {
    float: left;
    display: block;
    margin-right: 3.58%;
    width: 100%; }
    div.row div.container div.column.no-gutters .widget.full-width:last-child {
      margin-right: 0; }
  div.row div.container div.column.no-gutters .widget.one-half {
    display: table-cell;
    width: 50%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.one-third {
    display: table-cell;
    width: 33.33%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.one-fourth {
    display: table-cell;
    width: 25%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.one-fifth {
    display: table-cell;
    width: 20%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.two-thirds {
    display: table-cell;
    width: 66.67%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.two-fifths {
    display: table-cell;
    width: 40%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.three-fifths {
    display: table-cell;
    width: 60%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.four-fifths {
    display: table-cell;
    width: 80%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.col-9 {
    float: left;
    display: block;
    margin-right: 2.36%;
    width: 74.41%; }
    div.row div.container div.column.col-9:last-child {
      margin-right: 0; }
  div.row div.container div.column .widget.full-width {
    float: left;
    display: block;
    margin-right: 3.17%;
    width: 100%; }
    div.row div.container div.column .widget.full-width:last-child {
      margin-right: 0; }
  div.row div.container div.column .widget.one-half {
    float: left;
    display: block;
    margin-right: 3.17%;
    width: 48.42%;
    background-color: blue; }
    div.row div.container div.column .widget.one-half:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-half.last {
      margin-right: 0; }
  div.row div.container div.column .widget.one-third {
    float: left;
    display: block;
    margin-right: 3.17%;
    width: 31.22%;
    background-color: blue; }
    div.row div.container div.column .widget.one-third:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-third.last {
      margin-right: 0; }
  div.row div.container div.column .widget.one-fourth {
    float: left;
    display: block;
    margin-right: 3.17%;
    width: 22.62%;
    background-color: blue; }
    div.row div.container div.column .widget.one-fourth:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-fourth.last {
      margin-right: 0; }
  div.row div.container div.column .widget.one-fifth {
    float: left;
    display: block;
    margin-right: 3.17%;
    width: 17.47%;
    background-color: blue; }
    div.row div.container div.column .widget.one-fifth:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-fifth.last {
      margin-right: 0; }
  div.row div.container div.column .widget.two-thirds {
    float: left;
    display: block;
    margin-right: 3.17%;
    width: 65.61%;
    background-color: blue; }
    div.row div.container div.column .widget.two-thirds:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.two-thirds.last {
      margin-right: 0; }
  div.row div.container div.column .widget.two-fifths {
    float: left;
    display: block;
    margin-right: 3.17%;
    width: 38.1%;
    background-color: blue; }
    div.row div.container div.column .widget.two-fifths:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.two-fifths.last {
      margin-right: 0; }
  div.row div.container div.column .widget.three-fifths {
    float: left;
    display: block;
    margin-right: 3.17%;
    width: 58.73%;
    background-color: blue; }
    div.row div.container div.column .widget.three-fifths:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.three-fifths.last {
      margin-right: 0; }
  div.row div.container div.column .widget.four-fifths {
    float: left;
    display: block;
    margin-right: 3.17%;
    width: 79.37%;
    background-color: blue; }
    div.row div.container div.column .widget.four-fifths:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.four-fifths.last {
      margin-right: 0; }
  div.row div.container div.column.no-gutters .widget.full-width {
    float: left;
    display: block;
    margin-right: 3.17%;
    width: 100%; }
    div.row div.container div.column.no-gutters .widget.full-width:last-child {
      margin-right: 0; }
  div.row div.container div.column.no-gutters .widget.one-half {
    display: table-cell;
    width: 50%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.one-third {
    display: table-cell;
    width: 33.33%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.one-fourth {
    display: table-cell;
    width: 25%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.one-fifth {
    display: table-cell;
    width: 20%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.two-thirds {
    display: table-cell;
    width: 66.67%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.two-fifths {
    display: table-cell;
    width: 40%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.three-fifths {
    display: table-cell;
    width: 60%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.four-fifths {
    display: table-cell;
    width: 80%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.col-10 {
    float: left;
    display: block;
    margin-right: 2.36%;
    width: 82.94%; }
    div.row div.container div.column.col-10:last-child {
      margin-right: 0; }
  div.row div.container div.column .widget.full-width {
    float: left;
    display: block;
    margin-right: 2.84%;
    width: 100%; }
    div.row div.container div.column .widget.full-width:last-child {
      margin-right: 0; }
  div.row div.container div.column .widget.one-half {
    float: left;
    display: block;
    margin-right: 2.84%;
    width: 48.58%;
    background-color: blue; }
    div.row div.container div.column .widget.one-half:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-half.last {
      margin-right: 0; }
  div.row div.container div.column .widget.one-third {
    float: left;
    display: block;
    margin-right: 2.84%;
    width: 31.44%;
    background-color: blue; }
    div.row div.container div.column .widget.one-third:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-third.last {
      margin-right: 0; }
  div.row div.container div.column .widget.one-fourth {
    float: left;
    display: block;
    margin-right: 2.84%;
    width: 22.87%;
    background-color: blue; }
    div.row div.container div.column .widget.one-fourth:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-fourth.last {
      margin-right: 0; }
  div.row div.container div.column .widget.one-fifth {
    float: left;
    display: block;
    margin-right: 2.84%;
    width: 17.73%;
    background-color: blue; }
    div.row div.container div.column .widget.one-fifth:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-fifth.last {
      margin-right: 0; }
  div.row div.container div.column .widget.two-thirds {
    float: left;
    display: block;
    margin-right: 2.84%;
    width: 65.72%;
    background-color: blue; }
    div.row div.container div.column .widget.two-thirds:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.two-thirds.last {
      margin-right: 0; }
  div.row div.container div.column .widget.two-fifths {
    float: left;
    display: block;
    margin-right: 2.84%;
    width: 38.29%;
    background-color: blue; }
    div.row div.container div.column .widget.two-fifths:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.two-fifths.last {
      margin-right: 0; }
  div.row div.container div.column .widget.three-fifths {
    float: left;
    display: block;
    margin-right: 2.84%;
    width: 58.86%;
    background-color: blue; }
    div.row div.container div.column .widget.three-fifths:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.three-fifths.last {
      margin-right: 0; }
  div.row div.container div.column .widget.four-fifths {
    float: left;
    display: block;
    margin-right: 2.84%;
    width: 79.43%;
    background-color: blue; }
    div.row div.container div.column .widget.four-fifths:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.four-fifths.last {
      margin-right: 0; }
  div.row div.container div.column.no-gutters .widget.full-width {
    float: left;
    display: block;
    margin-right: 2.84%;
    width: 100%; }
    div.row div.container div.column.no-gutters .widget.full-width:last-child {
      margin-right: 0; }
  div.row div.container div.column.no-gutters .widget.one-half {
    display: table-cell;
    width: 50%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.one-third {
    display: table-cell;
    width: 33.33%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.one-fourth {
    display: table-cell;
    width: 25%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.one-fifth {
    display: table-cell;
    width: 20%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.two-thirds {
    display: table-cell;
    width: 66.67%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.two-fifths {
    display: table-cell;
    width: 40%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.three-fifths {
    display: table-cell;
    width: 60%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.four-fifths {
    display: table-cell;
    width: 80%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.col-11 {
    float: left;
    display: block;
    margin-right: 2.36%;
    width: 91.47%; }
    div.row div.container div.column.col-11:last-child {
      margin-right: 0; }
  div.row div.container div.column .widget.full-width {
    float: left;
    display: block;
    margin-right: 2.58%;
    width: 100%; }
    div.row div.container div.column .widget.full-width:last-child {
      margin-right: 0; }
  div.row div.container div.column .widget.one-half {
    float: left;
    display: block;
    margin-right: 2.58%;
    width: 48.71%;
    background-color: blue; }
    div.row div.container div.column .widget.one-half:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-half.last {
      margin-right: 0; }
  div.row div.container div.column .widget.one-third {
    float: left;
    display: block;
    margin-right: 2.58%;
    width: 31.61%;
    background-color: blue; }
    div.row div.container div.column .widget.one-third:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-third.last {
      margin-right: 0; }
  div.row div.container div.column .widget.one-fourth {
    float: left;
    display: block;
    margin-right: 2.58%;
    width: 23.07%;
    background-color: blue; }
    div.row div.container div.column .widget.one-fourth:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-fourth.last {
      margin-right: 0; }
  div.row div.container div.column .widget.one-fifth {
    float: left;
    display: block;
    margin-right: 2.58%;
    width: 17.94%;
    background-color: blue; }
    div.row div.container div.column .widget.one-fifth:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-fifth.last {
      margin-right: 0; }
  div.row div.container div.column .widget.two-thirds {
    float: left;
    display: block;
    margin-right: 2.58%;
    width: 65.81%;
    background-color: blue; }
    div.row div.container div.column .widget.two-thirds:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.two-thirds.last {
      margin-right: 0; }
  div.row div.container div.column .widget.two-fifths {
    float: left;
    display: block;
    margin-right: 2.58%;
    width: 38.45%;
    background-color: blue; }
    div.row div.container div.column .widget.two-fifths:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.two-fifths.last {
      margin-right: 0; }
  div.row div.container div.column .widget.three-fifths {
    float: left;
    display: block;
    margin-right: 2.58%;
    width: 58.97%;
    background-color: blue; }
    div.row div.container div.column .widget.three-fifths:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.three-fifths.last {
      margin-right: 0; }
  div.row div.container div.column .widget.four-fifths {
    float: left;
    display: block;
    margin-right: 2.58%;
    width: 79.48%;
    background-color: blue; }
    div.row div.container div.column .widget.four-fifths:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.four-fifths.last {
      margin-right: 0; }
  div.row div.container div.column.no-gutters .widget.full-width {
    float: left;
    display: block;
    margin-right: 2.58%;
    width: 100%; }
    div.row div.container div.column.no-gutters .widget.full-width:last-child {
      margin-right: 0; }
  div.row div.container div.column.no-gutters .widget.one-half {
    display: table-cell;
    width: 50%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.one-third {
    display: table-cell;
    width: 33.33%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.one-fourth {
    display: table-cell;
    width: 25%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.one-fifth {
    display: table-cell;
    width: 20%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.two-thirds {
    display: table-cell;
    width: 66.67%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.two-fifths {
    display: table-cell;
    width: 40%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.three-fifths {
    display: table-cell;
    width: 60%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.four-fifths {
    display: table-cell;
    width: 80%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.col-12 {
    float: left;
    display: block;
    margin-right: 2.36%;
    width: 100%; }
    div.row div.container div.column.col-12:last-child {
      margin-right: 0; }
  div.row div.container div.column .widget.full-width {
    float: left;
    display: block;
    margin-right: 2.36%;
    width: 100%; }
    div.row div.container div.column .widget.full-width:last-child {
      margin-right: 0; }
  div.row div.container div.column .widget.one-half {
    float: left;
    display: block;
    margin-right: 2.36%;
    width: 48.82%;
    background-color: blue; }
    div.row div.container div.column .widget.one-half:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-half.last {
      margin-right: 0; }
  div.row div.container div.column .widget.one-third {
    float: left;
    display: block;
    margin-right: 2.36%;
    width: 31.76%;
    background-color: blue; }
    div.row div.container div.column .widget.one-third:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-third.last {
      margin-right: 0; }
  div.row div.container div.column .widget.one-fourth {
    float: left;
    display: block;
    margin-right: 2.36%;
    width: 23.23%;
    background-color: blue; }
    div.row div.container div.column .widget.one-fourth:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-fourth.last {
      margin-right: 0; }
  div.row div.container div.column .widget.one-fifth {
    float: left;
    display: block;
    margin-right: 2.36%;
    width: 18.11%;
    background-color: blue; }
    div.row div.container div.column .widget.one-fifth:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.one-fifth.last {
      margin-right: 0; }
  div.row div.container div.column .widget.two-thirds {
    float: left;
    display: block;
    margin-right: 2.36%;
    width: 65.88%;
    background-color: blue; }
    div.row div.container div.column .widget.two-thirds:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.two-thirds.last {
      margin-right: 0; }
  div.row div.container div.column .widget.two-fifths {
    float: left;
    display: block;
    margin-right: 2.36%;
    width: 38.59%;
    background-color: blue; }
    div.row div.container div.column .widget.two-fifths:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.two-fifths.last {
      margin-right: 0; }
  div.row div.container div.column .widget.three-fifths {
    float: left;
    display: block;
    margin-right: 2.36%;
    width: 59.06%;
    background-color: blue; }
    div.row div.container div.column .widget.three-fifths:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.three-fifths.last {
      margin-right: 0; }
  div.row div.container div.column .widget.four-fifths {
    float: left;
    display: block;
    margin-right: 2.36%;
    width: 79.53%;
    background-color: blue; }
    div.row div.container div.column .widget.four-fifths:last-child {
      margin-right: 0; }
    div.row div.container div.column .widget.four-fifths.last {
      margin-right: 0; }
  div.row div.container div.column.no-gutters .widget.full-width {
    float: left;
    display: block;
    margin-right: 2.36%;
    width: 100%; }
    div.row div.container div.column.no-gutters .widget.full-width:last-child {
      margin-right: 0; }
  div.row div.container div.column.no-gutters .widget.one-half {
    display: table-cell;
    width: 50%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.one-third {
    display: table-cell;
    width: 33.33%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.one-fourth {
    display: table-cell;
    width: 25%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.one-fifth {
    display: table-cell;
    width: 20%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.two-thirds {
    display: table-cell;
    width: 66.67%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.two-fifths {
    display: table-cell;
    width: 40%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.three-fifths {
    display: table-cell;
    width: 60%;
    margin-right: 0;
    background: yellow; }
  div.row div.container div.column.no-gutters .widget.four-fifths {
    display: table-cell;
    width: 80%;
    margin-right: 0;
    background: yellow; }
