
header#site-header {
  border-bottom: #c8c8c8;
  box-shadow: 0 0 $base-spacing 0 rgba(0,0,0,0.75);
  position: relative;
  z-index: 50;
}

/** Custom Widget Classes **/
.peterson-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 128px;
  z-index: 99;
}

.peterson-dividers {
  .bfmenu {
    ul.bfmenu-top-level {
      border-left: 1px solid #fff;
      border-right: 1px solid #acacac;
      > li {
        > a {
          border-left: 1px solid #acacac;
          border-right: 1px solid #fff;
        }
      }
    }
  }
}

.peterson-text-shadow {
  .bfmenu {
    ul.bfmenu-top-level {
      > li {
        > a {
          text-shadow: 1px 1px #fff;
        }
      }
    }
  }
}

.peterson-screen-hover {
  .bfmenu {
    ul.bfmenu-top-level {
      > li {
        &:hover {
          > a {
            background: #e7e7e7 !important;
            color: $primary-color !important;
          }
        }

        &.active {
          > a {
            background: #e7e7e7 !important;
            color: $primary-color !important;
          }
        }

        ul.dropdown {
          background: #e7e7e7 !important;
          border-left: 1px solid #c8c8c8;
          border-right: 1px solid #c8c8c8;
          border-bottom: 1px solid #c8c8c8;
          margin: -1px 0 0 0;

          li {
            a {
              border: none;
              color: $dark-gray;
            }

            &:hover {
              a {
                @include linear-gradient(#e7e7e7,#c7c7c7);
              }
            }
          }
        }
      }
    }
  }
}

.peterson-text-size-menu {
  font-size: 14px;
}

/** Custom Row Classes **/
.row {

  &.abs-row {
    z-index: 51 !important;
  }

  &.force-col {
    .column {
      min-height: 1px;
    }
  }

}