.recent-blog-posts {

  .post {
    border-top: 1px solid rgba($border-color-dark, 0.2);
    margin-bottom: $base-spacing;
    padding-top: $base-spacing;

    &:first-of-type {
      border-top: none;
      padding-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    h2 {
      margin-bottom: $half-spacing;

      + .post-info {
        padding-top: 0;
      }
    }

    .bf-loop-featured-image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center top;
      width: 40%;
      height: $base-spacing * 8;
      box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5), inset 0 0 0 10px #fff, inset 0 0 5px 10px rgba(0, 0, 0, 0.2);

      @include media($mobile) {
        width: 100%;
      }
    }
  }
}