.widget {

  &.brightfire-categories-widget, &.brightfire-archives-widget {

    ul.categories-list, ul.archives-list {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        border-bottom: $base-border;
        display: block;
        padding: $half-spacing;
        transition: background-color 1s;

        &:hover {
          background-color: $light-gray;
        }

        &:last-child {
          border-bottom: none;
        }

      }

    }

  }

}
