.widget.brightfire-bucket-widget {
  position: relative;

  > a.bucket-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  a.bucket-link {
    color: inherit;
  }

  // Block styles
  .bucket-widget-block {
    position: relative;
    transition: all 200ms ease;

    h1, h2, h3, h4, h5, h6 {
      margin: 0 !important;
      padding: 0 !important;
    }

    &.bf-bucket-image {
      // Set our line height for icons
      line-height: 1;
      overflow: hidden;

      img {
        transition: all 200ms ease;
      }

      .image-short {
        height: 5 * $base-spacing;
      }

      .image-medium {
        height: 10 * $base-spacing;
      }

      .image-tall {
        height: 15 * $base-spacing;
      }

      .image-full {
        height: auto;
      }
    }

    &.bf-bucket-text {
      ul {
        @extend %default-ul;
      }
      ol {
        @extend %default-ol;
      }
    }
  }
}