/** Scroller **/
#bf-carrier-scroller {
  width: 100%;
  height: 80px;

  .scrollWrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
}

/** About **/
#bf-carrier-about {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  img {
    flex-grow: 0;
    flex-shrink: 0;

    margin: 1%;
  }

}

/** Service Center **/
#bf-service-center-top {
  background: $light-gray;
  border-radius: $base-border-radius;
  padding: $half-spacing;

  .list-wrap {
    margin: $half-spacing 2.5%;

    ul {
      float: left;

      li {
        line-height: $base-line-height;
        margin-bottom: $half-spacing;
        margin-left: $half-spacing;
      }

    }

  }

  #bf-service-center-iframe {
    width:100%;
    padding-top: $base-spacing;
  }

}


#bf-service-center-side {
  background: $light-gray;
  border-radius: $base-border-radius;
  padding: $half-spacing;

  .list-wrap {
    margin: 10px 2.5%;

    ul {
      float: left;

      li {
        line-height: $base-line-height;
        margin-bottom: $half-spacing;
        margin-left: $half-spacing;
      }

    }

  }

  #bf-service-center-iframe {
    width:475px;
    float:right;
    padding-top: $base-spacing;
  }

}