.brightfire-erie-widget {

  // Block Display (default)
  &:not(.display-inline) {

    .bf-erie-widget {
      display: block;
      margin: $base-spacing auto;

      &:first-of-type {
        margin: 0 auto $base-spacing auto;
      }

      &:last-of-type {
        margin: $base-spacing auto 0 auto;
      }
    }
  }

  // Inline Display
  &.display-inline {

    .bf-erie-widget {
      display: inline-block;
      margin: 0 $base-spacing;

      &:first-of-type {
        margin: 0;
      }

      &:last-of-type {
        margin: 0;
      }
    }
  }

  // Sizes
  .size-square {
    width: 140px;
    height: 119px;
  }
  .size-slim {
    width: 200px;
    height: 46px;
  }
}