.employee-group {
  margin: ($base-spacing * 2) auto;
  padding: 0 0 $base-spacing;
  width: 99%;
}

h2.group-title {
  border-top: $base-border;
  padding: $base-spacing 0;
  margin-bottom: 0;
}

.employee-image {
  border: $base-border;
  position: relative;
  box-sizing: border-box;
  border-radius: $base-border-radius;

  &.alignleft,
  &.alignright {
    margin-bottom: 0;
  }
}

h3.employee-name {
  margin-bottom: 0;
}


.employee-job-title {
  font-weight: bold;
}

.employee-email,
.employee-linkedin {
  display: inline-block;
  a {
    font-size: $base-font-size;
    text-decoration: none;
  }
}

.employee-email {
  padding-right: $half-spacing;
}

.employee-bio {
  margin-top: $base-spacing;
}

.employees-wrap{
  .employee-wrap {
    border-top: $base-border;
    margin-top: $base-spacing;
    padding-top: $base-spacing;
  }

  &.employee_medium,
  &.employee_small {
    &.grid {
      .employee-wrap {
        .employee {
          padding-bottom: 0;

          h3.employee-name {
            padding-top: $half-spacing;
          }

          .employee-image {
            &.alignleft {
              border-radius: $base-border-radius 0 0 $base-border-radius;
            }

            &.alignright {
              border-radius: 0 $base-border-radius $base-border-radius 0;
            }
          }
        }
      }
    }
  }

  &.grid {
    .employee-row {
      margin-bottom: 2.3758%;
    }

    .employee-wrap {
      border-radius: $base-border-radius;
      box-shadow: inset 0 0 0 1px #ccc;
      overflow: hidden;
      border-top: 0 none transparent;
      margin-top: 0;
      padding-top: 0;

      .employee {
        padding-bottom: 10px;

        .employee-image {
          border-radius: $base-border-radius $base-border-radius 0 0;
        }

        > h3,
        > div {
          padding: 0 $half-spacing;

          &.employee-image-wrap {
            padding: 0;
          }
        }
      }
    }
  }
}

.single {
  .employees-wrap {
    .employee-wrap {
      border-top: 0 none transparent;
      margin-top: 0;
      padding-top: 0;
    }
  }
}