/* Footer Credits */

#bf-cred {
  font-size: 12px !important;
  line-height: 2;
  padding: 0;
  font-family: $helvetica !important;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &.light {
    color: #ffffff;

    a:link,
    a:visited,
    a:active {
      color: #ffffff;
    }
  }

  &.dark {
    color: #333333;

    a:link,
    a:visited,
    a:active {
      color: #333333;
    }
  }

  .copyright {
    float: left;
    opacity: 0.4;
    filter: alpha(opacity = 40);
    transition: 0.5s all;

    &:hover {
      opacity: 1.0;
      filter: alpha(opacity = 100);
    }
  }

  .credit {
    float: right;
    opacity: 0.4;
    filter: alpha(opacity = 40);
    transition: 0.5s all;
    position: relative;

    a {
      padding-left: 120px;
    }

    &:hover {
      opacity: 1.0;
      filter: alpha(opacity = 100);
    }

    .credit-logo {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0,-50%);
    }

    a:hover {
      text-decoration: none;
    }
  }
}

@include media( $mobile ) {
  #bf-cred {
    text-align: center;

    .copyright {
      float: none !important;

      a {
        white-space: nowrap;
      }
    }

    .credit {
      float: none !important;
      @include margin( $base-spacing auto 0 );

      a {
        padding-left: 0;
      }

      .credit-logo {
        position: relative;
        transform: none;
        top: 1px;
        margin-right: 4px;
      }

      .credit-text {
        white-space: nowrap;
      }
    }
  }
}