/** Custom Ready Classes **/

.animate-slideInUp {
  visibility: hidden; // Use vis instead of display for reliable offset calc

  // Special Rule for Phone Image
  .bf-bucket-image {
    .image-full {
      height: 500px !important;
    }
  }
}

.gillman-animate-news {
  visibility: hidden; // Use vis instead of display for reliable offset calc
}

.gillman-recent-blog {

  overflow: hidden;

  .recent-blog-posts {
    .post {
      margin: 0;
      padding: 0 0 ($base-spacing + $large-spacing) 0;
      border: none;

      a.bf-loop-featured-image {
        height: 240px;
        width: 100%;
        box-shadow: none;
        margin: 0;
        display: block;
        float: none;
      }

      h2, p {
        padding-left: $base-spacing;
        padding-right: $base-spacing;
      }

      h2 {
        padding-top: $base-spacing;
      }

      a.read-more {
        position: absolute;
        bottom: $base-spacing;
        left: 50%;
        transform: translate(-50%, 0);

      }
    }
  }
}

.gillman-shadow, .d-gillman-shadow, .m-gillman-shadow {
  box-shadow: 0 0 ($base-spacing/2) 0 rgba(0,0,0,0.55);
}

.gillman-widget-flex, .d-gillman-widget-flex, .m-gillman-widget-flex {

  .container {

    .column {
      display: flex !important;
      justify-content: space-between;
      align-items: stretch;

      .widget {
        flex-grow: 1;
      }
    }
  }
}

.gillman-menu, .d-gillman-menu, .m-gillman-menu {

  .bfmenu {

    .showhide {

      span {
        color: $accent-color;
      }

      em {
        background: $accent-color;
      }
    }

    ul.bfmenu-menubar {

      &.bfmenu-top-level {

      > li {

        > a {
          color: $accent-color;

          i.indicator.fa {
            display: inline-block;
            padding: 0 0 0 ($base-spacing/3);
            position: relative;
            top: -($base-font-size/5);

            &::before {
              content: "\f0dd" !important;
            }
          }

          &:hover {
            color: $secondary-color;

          }
        }

          ul.dropdown {
            background-color: #f3f6f9;

            a {
              border: none;
              padding: ($small-spacing/2) $small-spacing;
              color: $accent-color;
              background-color: transparent;
              font-size: $megamenu-nav-font-size;
              font-weight: 400;

              &:hover {
                color: $dark-gray;
                background-color: transparent;
              }
            }
          }
        }
      }
    }
  }
}

/** Gillman Counter Widget Styles **/

.widget.gillman-counter {

  .counter-wrapper {
    display: flex;
    align-content: space-around;
    align-items: center;
    justify-content: center;

    .counter-one, .counter-two, .counter-three {
      flex-grow: 1;
    }
  }

}

/** Gillman Review Slider Widget Styles **/

div.gillman-review-slider {

  span.slide-review {
    display: block;
    font-size: $base-font-size * 1.5;
    line-height: $base-line-height;
    margin-bottom: $base-spacing;
    text-shadow: -1px 0 1px #ffffff, 1px 0 1px #ffffff, 0px 1px 1px #ffffff;
  }
}


/** ANIMATE.css **/
@charset "UTF-8";

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2015 Daniel Eden
*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}